# Daru::Vectorのちら見

このnotebookは https://github.com/SciRuby/sciruby-notebooks/blob/master/Data%20Analysis/Usage%20of%20Vector.ipynb を実用部だけを抜粋し独自の簡単化を行ったものです。また現状に合わないものは変更を加えています。

In [1]:
require 'daru'

true

daruではpandasの `Series` に相当するものを `Vector`と名付けています。
基本的な `Vector`の作り方は下記になります。

In [2]:
a = Daru::Vector.new([1,2,3,4,5], index: [:a, :b, :c, :d, :e], name: :bazinga)

#<Daru::Vector(5)>
         bazinga
       a       1
       b       2
       c       3
       d       4
       e       5

要素へのアクセス方法は下記になります。

In [3]:
a[:b]

2

インデックスの`range`で要素を取得することも可能です。

In [5]:
a[:b..:d]

#<Daru::Vector(3)>
         bazinga
       b       2
       c       3
       d       4

要素の更新方法は下記になります。

In [6]:
a[:b] = 999
a

#<Daru::Vector(5)>
         bazinga
       a       1
       b     999
       c       3
       d       4
       e       5

下記のように`range`記法を混ぜることも可能です。

In [10]:
b = Daru::Vector[1,2,3,4,6..10]

#<Daru::Vector(9)>
   0   1
   1   2
   2   3
   3   4
   4   6
   5   7
   6   8
   7   9
   8  10

`Vector`のサイズを指定し要素には0から5までの乱数を埋め，4の場合欠損値とするには下記を実行します。

In [12]:
a = Daru::Vector.new_with_size(1000, name: :new_vector) { r=rand(5); r == 4 ? nil: r; }

#<Daru::Vector(1000)>
            new_vector
          0          0
          1          1
          2        nil
          3          1
          4          2
          5          1
          6          0
          7          2
          8        nil
          9          3
         10        nil
         11          2
         12          1
         13        nil
         14          1
        ...        ...

`Vector` の最初の方だけを確認するには `head` メソッドを使います。

In [13]:
a.head

#<Daru::Vector(10)>
            new_vector
          0          0
          1          1
          2        nil
          3          1
          4          2
          5          1
          6          0
          7          2
          8        nil
          9          3

### ソート
インデックスを保持したまま要素の値でソートすることが下記で可能です。

In [14]:
a = Daru::Vector.new([23,144,332,11,2,5,6765,3])

#<Daru::Vector(8)>
    0   23
    1  144
    2  332
    3   11
    4    2
    5    5
    6 6765
    7    3

In [15]:
a.sort

#<Daru::Vector(8)>
    4    2
    7    3
    5    5
    3   11
    0   23
    1  144
    2  332
    6 6765

### 基本的な計算

基本的な算術演算は下記のように行えます。

In [16]:
a = Daru::Vector.new([1,2,3,4,5,6], index: [:a, :b, :c, :d, :five, :f])
b = Daru::Vector.new([1,2,3,4,5], index: [:a, :b, :c, :ff,:five])

a + b

#<Daru::Vector(7)>
    a    2
    b    4
    c    6
    d  nil
    f  nil
   ff  nil
 five   10

In [17]:
a ** b

#<Daru::Vector(7)>
    a    1
    b    4
    c   27
    d  nil
    f  nil
   ff  nil
 five 3125

In [18]:
a * 5

#<Daru::Vector(6)>
    a    5
    b   10
    c   15
    d   20
 five   25
    f   30

### 簡単な統計
簡単な統計値は下記のように計算できます。

In [19]:
v = Daru::Vector.new([1,2,3,4,5,nil,6,nil,7])
v.mean

4.0

In [20]:
v.variance

4.666666666666667

In [21]:
v.median

4